<p>detail-dialog works!</p>

<!--<div class="max-w-xl mx-auto p-6 bg-slate-500 shadow-md rounded-lg">-->
<!--  <h2 class="text-xl font-semibold text-slate-800 mb-6">📝 Yeni Görev Ekle</h2>-->

<!--  <form class="flex flex-col gap-6">-->
<!--    <mat-form-field  class="w-full">-->
<!--      <mat-label>Başlık</mat-label>-->
<!--      <input matInput placeholder="Görev başlığı yazın" />-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill" class="w-full">-->
<!--      <mat-label>Açıklama</mat-label>-->
<!--      <textarea matInput rows="3" placeholder="Açıklayıcı not..." class="resize-none"></textarea>-->
<!--    </mat-form-field>-->

<!--    <div class="flex justify-end">-->
<!--      <button mat-raised-button >Görev Ekle</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
